node_modules
# Keep environment variables out of version control
.env*
!.env.local.example
!.env.production.example

# Compiled output
/dist
/generated/prisma
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Temp files
*.swp
*.swo
*~
